/* general */
body {
    background-color: #F1F1EC;
    background: linear-gradient(#F1F1EC, #ccccc2);
    background-attachment: fixed;
}

h1, h2 {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.big-header {
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 1px;
    color: #D9D9D9;
 } 

p, li {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    margin: 1px;
}

.p1 {
    margin: 20px;
}


.main-header {
  height: 40px;
  width: 97%;
  border: 5px solid #253054;
  border-radius: 20px;
  padding: 5px;
  background-color: #253054;
}

/* images */

.rounded-image {
    border-radius: 40px;
    height: auto;
    object-fit: contain;
    margin: 7px;
}

.sweater-images{
  display: flex;
  justify-content: center;
  align-items: center;
}

/* paragraphs */

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-left {
    width: 35%;
    height: 40vh;
    margin: 5px;
    padding: 5px;
    border: 2px solid #D9D9D9;
    border-top: px;
    background-color: #D9D9D9;
    border-radius: 40px;
}




.flex-right {
  width: 65%;
  height: 40vh;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #84977D;
  background-color: #84977D;
  border-radius: 40px;
}
img {
  width: 30%;
  height: auto;
}

hr.custom-divider {
  border: none; 
  border-top: 3px solid #333; 
  margin: 20px 0; 
  width: 50%; 
  margin-left: auto; 
  margin-right: auto;
 
}

/* links */

.container2{
    display: flex;
}

.box1, .box2, .box3, .box4, .box5 {
    width: 20%;
    height: 150px;
    margin: 5px;
    margin-bottom: 20px;
    padding: 5px;
    border: 2px solid #D9D9D9;
    border-radius: 20px;
    background-color: #D9D9D9;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rounded-image2 {
    border-radius: 15px;
    height: 15vh;
    width: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rounded-image3 {
   border-radius: 15px;
    width: 15vh;
    height: auto;
    margin-top: 5px;
    margin-bottom: 5px; 
}

/* button */

.button {
  margin: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 600;
  color: #D9D9D9;
 button{font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
 button{margin-right: 20px}
}

.flex-middle{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 65%;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 5px;
  border: 2px solid #253054;
  background-color: #253054;
  border-radius: 40px;
}
